body{
    margin: center;
    background-color: rgb(19, 106, 177);
}
h1{
  text-shadow: blanchedalmond 2px 4px 8px;
  letter-spacing: .5em;
  word-spacing: .5em;
  font-size: 3em;
  text-align: center;
  padding-bottom: 20px;
}

.informa{
  margin: 50px;
  padding: 20px;
}

p{
  color:whitesmoke;
  font-size: 1.5em;
}

.dir{
  text-align: right;
}