body {
  margin:20px;
  background-color: rgb(42, 151, 187);
}
div.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
div.row:after {
  content: "";
  display: table;
  clear: both;
  margin:center;
}

.bigname {
  color: rgb(39, 38, 37);
  font-size: 80px;
  font-weight: 900;
  text-align: center;
  margin: auto;
  padding-top: 50px;
}
.subtitle{
  color:rgb(57, 84, 165);
  font-size: 30px; 
  font-weight: 500;
  text-align: center;
  font-style: oblique;
}
.mypic {
  display: inline-block;
  padding: 100px;
  width:800px;
  height:600px; 
  float:left; 
  margin-right: 10px; 
  margin-bottom: 50px;
  border: solid black 5px;
  padding:2px;
}