body {
  margin:0;
  text-align: center;
}
.bigname {
  color: white;
  font-size: 80px;
  font-weight: 900;
  text-align: center;
  margin: auto;
  padding-top: 300px;
}
.subtitle{
  color:white;
  font-size: 30px; 
  font-weight: 500;
  font-style: oblique;
}

.construction{
  font-size: 70px;
  text-align: center;
  color: whitesmoke;
}
.thanks {
  color:white;
  font-size: 30px; 
  font-weight: 500;
}
.logos {
  padding-top: 100px;
  display: inline-block;
  margin-left: 10px;
  padding: 25px;
}