h1{
text-align: center;
font-size: 3em;
}

.projects {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 100px;
}
h2{
    text-decoration: underline;
    font-size: 2em;
}
 
img.hbnb{
    width: 400px;
    height: auto;
}
img.bash{
    width: 400px;
    height: auto;
}

img.printf{
    width: 300px;
    height: auto;
}

div.column {
    float: left;
    width: 50%;
  }
  
/* Clear floats after the columns */
div.row:after {
    content: "";
    display: table;
    clear: both;
    margin:center;
    
  }
.lip{
    font-size: 1.3em;
}