h1{
text-align: center;
}

.projects {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 100px;
}

h2{
    text-decoration: underline;
}
img.hbnb{
    width: 400px;
    height: auto;
}
img.bash{
    width: 400px;
    height: auto;
}

img.printf{
    width: 500px;
    height: auto;
}