.projects {
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 100px;
  }
h1{
  text-align: center;
  font-size: 3em;
}

h2{
  color:rgb(37, 146, 204);
  text-decoration: underline;
  font-size: 2em;
}
img.hbnb{
    width: 400px;
    height: auto;
}
img.bash{
    width: 400px;
    height: auto;
}

img.printf{
    width: 300px;
    height: auto;
}

div.column {
    float: left;
    width: 50%;
  }
  
/* Clear floats after the columns */
div.row:after {
    content: "";
    display: table;
    clear: both;
  }
.lip{
    font-size: 1.3em;
}
.title{
  color: rgb(204, 129, 37);
  text-shadow: rgb(112, 86, 54) 10px 10px 10px;
  letter-spacing: .5em;
  word-spacing:.5em;
  text-decoration:none;
}
.nolinkline {
  text-decoration:none;
}