body {
  margin:0;
  background-color: rgb(77, 156, 200);
  text-align: center;
}

.container {
  width: 80%;
  margin:0;
}

.bigname {
  color: white;
  font-size: 20px;
  text-align: center;
  margin: auto;
  
}

p {
  font-size: 10px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.construction{
  font-size: 100px;
  text-align: center;
  color: white;
}