body {
  background-color: lightblue;
  text-align: center;
}

.bigname {
  color: white;
  text-align: center;
  margin: auto;
  
}

p {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.construction{
  font-size: 100px;
  text-align: center;
  color: red;
}