body {
  margin:0;
  text-align: center;
}


.bigname {
  color: wheat;
  font-size: 100px;
  font-weight: 900;
  text-align: center;
  margin: auto;
  padding-top: 300px;
}
.subtitle{
  color:white;
  font-size: 20px; 
  font-weight: 500;
}

.construction{
  font-size: 100px;
  text-align: center;
  color: whitesmoke;
}
.thanks {
  color:white;
  font-size: 100px; 
  font-weight: 500;
}